#gt-body{
    padding:0;
    clear:both;
    width:1000px;
    margin:100px auto 50px auto; 
    border:1px solid #c0c0c0;
}
#text-gt-body{
    font-family:'Times New Roman', Times, serif;
    margin:30px auto 40px auto;
    text-align:justify;
    width:800px;
    font-size:20px;
}
