*{
    margin:0;
    padding:0;
}
body{
    background-color:#cfcfcf;
}
#mainWap{
    min-height:100%;
    width:1200px;
    height:100%;
    margin:0 auto;
}
#header{
    height:200px;
    background-image: url('../picture/bannerbanhang.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:right;
}
#logo{
    float:left;
    width:780px;
    font-family:'Times New Roman', Times, serif;
    color:#000000;
    font-size:120px;
    line-height:200px;
    text-align:right;
}
#store a{
    float:left;
    text-decoration:none;
    color:#000000;
    width:250px;
    text-align:right;
    padding:100px 0 0 0;
}
#store a:hover{
    color:#ff0000;
}
#search{
    float:left;
    display:table;
    content:"";
    width:160px;
    height:200px;
    text-align:right; 
}
#btnSearch{
    margin:100px 0 0 0;
    font-size:100%;
    border: none;
    cursor:pointer; 
    background-color:#69C8CE;
}

#txtSearch{
    background-color:#000000;
    color:white;
    width:120px;
    border:none;
    height:20px;
    padding:2px;
    border-radius:4px;
}
#menu{
    margin:0px;
    padding:0px;
    color:white;
}
#menu ul{
    list-style:none;
}
#menu ul li{
    float:left;
    background-color:#000000;
    width:150px;    
    height:40px;
    opacity: .8; /*nhạt màu nền*/
    line-height:40px;
    font-size:15px;
    text-align:center;
}
#menu ul li a{
    text-decoration:none;
    color:white;
    display:block;
}
#menu ul li a:hover{
    background-color:#ffd800;
    color:#000000;
    font-weight:bold;
}
/*
ul li ul li{
    display:none;
}

ul li:hover ul li{
    display:block;
}*/
#main{
    height:600px;
    background-color:white;
    margin:auto;
}
#clr{
    clear:both;
}

#footer{
    height:300px;
    background-color:#69C8CE;
}
#text-body-footer{
    float:left;
    margin:30px 0 0 20px;
}
#text-body-footer p{
    margin:20px 0 0 0;
    line-height:25px;
    font-weight:bold;
    font-size:20px;
}
#link-footer{
    float:left;
    width:260px;
    margin:30px 0 0 50px;
}
#link-footer ul{
    margin:20px 0 0 50px;
}
#link-footer ul li a{
    text-decoration:none;
    color:#000000;
    line-height:25px;
    font-weight:bold;
}
#link-footer ul li a:hover{
    color:#ad4d00;
}

#contact-footer{
    float:left;
    width:300px;
    height:280px;
    margin:30px 0 0 0;
}
#imgfooter{
}
#imgfooter img{
    margin:20px 0 0 0;
    width:450px;
    border-radius:5px;
    border:1px solid #69C8CE;
}
#bottom-footer{
    background-color:#000000;
    color:white;
    text-align:center;
    height:20px;
}
