#contain-tk{
    margin:0;
    padding:0;
    width:1000px;
}
.td-tk{
    width:800px;
    margin:auto;
    color:#ff0000;
    font-weight:bold;
    padding:20px;
    text-align:center;
}
.table-tk table{
    width:547px;
    margin:auto;
    line-height:30px;

}
.table-tk table h3{
    text-align:center;
    color:#00780f;
}

.table-tk table td .text-tk{
     width:200px;
     height:30px;
     border-radius:5px;
     border:1px solid #00780f;
     margin:0 0 0 20px;
     padding:0 0 0 5px;
}
.table-tk table td .img-tk{
    width:40%;
    border:5px solid #808080;
}

.table-tk table td .btn-tk{
    height:40px;
    font-weight:bold;
    border-radius:5px;
    margin:5px;
    border:1px solid #00780f;
}
.btn-tk:hover{
    background-color:#00780f;
    color:white;
}
