#contain-tsp{
    width:1000px;   
}
.td-tsp h3{
    font-weight:bold;
    color:#00780f;
    width:800px;
    margin:auto;
    padding:20px;
    text-align:center;
}
.table-tsp table {
    width: 500px;
    margin: auto;
    font-size:20px;
}
.table-tsp table td{
    line-height:50px;
}
.text-sp{
    height:30px;
    width:250px;
    border-bottom-right-radius:10px;
    border:1px solid #00780f;
}
.btn-them{
    height:40px;
    font-weight:bold;
    border-radius:5px;
    margin:5px;
    border:1px solid #00780f;
}
.btn-them:hover{
    background-color:#00780f;
    color:white;
}
