<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MyDB" 
         connectionString="Data Source=LAPTOP-NJJK6VKS;
                           Initial Catalog=MyShop;
                           Integrated Security=True" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>