<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MyShopConnectionString" connectionString="Data Source=LAPTOP-NJJK6VKS;Initial Catalog=MyShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MyShopConnectionString2" connectionString="Data Source=LAPTOP-NJJK6VKS;Initial Catalog=MyShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>